<nav>
    <ul>
    <li><a href="#">Home</a></li>
    <li><a href="#/catalog">Cinema</a></li>
    <li><a href="#/create">Add Movie</a></li>
    <li><a href="#">My Movies</a></li>
    <li class="right"><a href="#">Logout</a></li>
    <li class="right">Welcome, user!</li>
    <li class="right"><a href="#/register">Register</a></li>
    <li class="right"><a href="#/login">Login</a></li>
    </ul>
</nav>